* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

:root {
  --gray: #6b6b6b;
  --beige: #f5ede3;
  --coralline: #d46f4d;
  --leather: #583c2b;
  --black: #000;
  --border: #ddddddc1;
  --white: #ffffff;
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: var(--white);
}

h2 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

img {
  width: 100%;
  height: auto;
}

::selection {
  background-color: var(--leather);
  color: var(--white);
}

.btn {
  width: 150px;
  margin: 30px auto 0;
  padding: 12px 20px;
  background-color: var(--leather);
  color: var(--white);
  border: 1px solid var(--leather);
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: var(--white);
  color: var(--leather);
  box-shadow: inset 0 0 2px var(--leather);
  cursor: pointer;
}

/* nav */
.navbar {
  position: fixed;
  top: 0;
  background-color: var(--white);
  width: 100%;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  z-index: 1003;
}

.img-logo {
  width: 17%;
  position: relative;
  z-index: 1003;
}

.menu-hamburger {
  width: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.nav-links {
  display: flex;
  position: fixed;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 30vh;
  background: var(--white);
  transform: translateY(-150%);
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px  30px 30px;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.nav-links.open {
  transform: translatey(0%);
  visibility: visible;
}

.navbar.open {
  overflow: visible;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.nav-links a:hover {
  color: var(--leather);
}

.nav-links a {
  font-weight: bolder;
  font-size: 0.78rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: var(--leather);
}

.nav-links a:hover::after {
  right: 0;
}

.nav-links a.btn {
  width: 150px;
  margin: 30px auto 0;
  padding: 12px 20px;
  background-color: var(--leather);
  color: var(--white);
  border: 1px solid var(--leather);
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.nav-links a.btn:hover {
  background-color: var(--white);
  color: var(--leather);
  box-shadow: inset 0 0 2px var(--leather);
}

.menu-hamburger {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 1002;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #242d52;
  border-radius: 3px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/* état ouvert */
.menu-hamburger.open span:nth-child(1) {
  transform: translateY(13.5px) rotate(-45deg);
}

.menu-hamburger.open span:nth-child(2) {
  opacity: 0;
}

.menu-hamburger.open span:nth-child(3) {
  transform: translateY(-13.5px) rotate(45deg);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  z-index: 50;
  pointer-events: none;
}
.overlay.active {
  display: block;
  z-index: 0;
}

/* header */
header .img-header {
  padding-top: 4rem;
  width: 100%;
  height: auto;
}

/* description */
#description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
  text-align: center;
  animation: fadeUp 0.6s ease forwards;
}

.hero img:not(:last-child) {
  border-radius: 15px;
  box-shadow: 0 0 20px var(--border);
}

#description p {
  padding-top: 1rem;
}

#description p:last-of-type {
  padding-bottom: 2rem;
}

.img-signature {
  width: 50%;
}

/* horaire */
.parallax-section {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* mobile par défaut */
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .parallax-section {
    background-attachment: fixed;
  }
}
.parallax-1 {
  background-image: url("../img/food_9_dark.webp");
}
.parallax-2 {
  background-image: url("../img/testimonal_background_dark.webp");
}

/* plats */
.plat {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: var(--black);
  background-color: var(--white);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plat-section .img-wrapper {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.plat-section .wrapper p {
  padding: 1rem 3rem;
}

#plat1 .img-wrapper {
  background-image: url("../img/food_5_dark.webp");
}
#plat2 .img-wrapper {
  background-image: url("../img/food_11_dark.webp");
}
#plat3 .img-wrapper {
  background-image: url("../img/food_10_dark.webp");
}
#plat4 .img-wrapper {
  background-image: url("../img/food_7_dark.webp");
}

.description-plat {
  order: 2;
  text-align: center;
  padding: 20px 0 0 0;
}

.description-plat p {
  padding: 1rem;
}

.plat:nth-child(even) {
  flex-direction: column;
}

/* CAROUSEL */
#avis {
  padding: 2rem 0;
}
.carousel {
  width: 100%;
  padding: 1.2rem 1rem;
  display: flex;
  gap: 0.7rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background: var(--white);
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  list-style: none;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 30px;
  box-shadow: 0 0 4px var(--border);
  padding: 2rem;
  margin: 0 1rem;
  flex: 0 0 80%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.carousel-item p {
  font-size: 1rem;
}

.name-picture-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars-date {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.img-avis {
  width: 80px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.img-stars {
  width: 100px;
  height: auto;
}

/* formulaire */
.contact {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.information {
  border: 0.4px solid var(--border);
  box-shadow: 0 0 4px var(--border);
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: var(--black);
}
.contact .information p span,
.contact .information h2,
.contact .information h4,
.contact .information h5 {
  color: var(--leather);
}
.contact .information p:last-of-type {
  padding-bottom: 2rem;
}
.contact .information h5 {
  padding-top: 1rem;
}
.information hr {
  border: none;
  border-top: 1px solid var(--border);
  width: 100%;
  align-self: stretch;
  margin: 0.4rem 0;
}

form {
  width: 100%;
}
.formReserv {
  color: var(--leather);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  border-radius: 30px;
  border: 0.4px solid var(--border);
  box-shadow: 0 0 4px var(--border);
}

.form-item {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: small;
  text-transform: uppercase;
  color: var(--leather);
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1rem;
  border: 0.4px solid var(--border);
  border-radius: 18px;
  font-size: 1em;
  background-color: var(--white);
  color: var(--black);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}
select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px;
  padding-right: 40px; /* pour pas que le texte passe sous la flèche */
}
form .btn {
  width: 100%;
}
input:focus,
select:focus {
  outline: none;
}

::placeholder {
  color: black;
}

/* carte google */
.carte {
  width: 100%;
  margin: 2rem auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.carte iframe {
  width: 100%;
  height: 450px;
  display: block;
  border: none;
}

/* footer */
.footer {
  background-color: var(--leather);
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer H2 {
  text-align: left;
  font-size: 2.5rem;
}
.footer div.resum {
  font-weight: 100;
  padding-bottom: 2rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 40px;
  gap: 50px;
  flex-wrap: wrap;
  text-align: left;
}

.footer-column li,
.footer-column a {
  list-style: none;
  color: inherit;
}
.footer-column h3 {
  padding-bottom: 0.5rem;
}
.footer p,
.footer a {
  color: var(--beige);
  padding-bottom: 0.3rem;
  font-weight: 400;
}
footer hr {
  margin-bottom: 2rem;
  color: var(--beige);
}

@media (min-width: 768px) {
  /* nav */
  .img-logo {
    width: 4%;
  }
  .navbar {
    position: sticky;
  }
  .menu-hamburger {
    display: none;
  }
  .nav-links {
    visibility: visible;
    transform: none;
    position: static;
    align-items: end;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    background: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
  }
  .nav-links a {
    font-size: 0.78rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: color 0.3s;
    position: relative;
  }

  .nav-links li:not(:last-child) a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 100%;
  height: 1px;
  background: var(--leather);
  transition: right 0.3s ease;
}

  .nav-links a:hover {
    color: var(--leather);
  }

  .nav-links li:not(:last-child) a:hover::after {
  right: 0;
}

  .nav-links ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }

  /* header */
  header .img-header {
    padding-top: 0rem;
  }

  /* description */
  #description .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding: 0 10%;
  }

  #description .hero p {
    font-size: 25px;
  }

  #description .hero img {
    width: 40%;
  }

  /* horaire */
  .text-overlay {
    font-size: 40px;
  }

  /* plat */
  .plat-section {
    display: flex;
    align-items: stretch;
  }

  .plat-section:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .plat-section .img-wrapper {
    width: 50%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
  }

  .plat-section .wrapper {
    width: 50%;
    color: var(--black);
    background-color: var(--white);
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .plat-section .wrapper p {
    padding: 1rem 3rem;
  }

  #plat1 .img-wrapper {
    background-image: url("../img/food_5_dark.webp");
  }
  #plat2 .img-wrapper {
    background-image: url("../img/food_11_dark.webp");
  }
  #plat3 .img-wrapper {
    background-image: url("../img/food_10_dark.webp");
  }
  #plat4 .img-wrapper {
    background-image: url("../img/food_7_dark.webp");
  }

  @media (max-width: 767px) {
    .plat-section {
      flex-direction: column;
    }
    .plat-section:nth-of-type(even) {
      flex-direction: column;
    }
    .plat-section .img-wrapper,
    .plat-section .wrapper {
      width: 100%;
    }
    .plat-section .img-wrapper {
      background-attachment: scroll;
    }
  }

  /* avis */
  .carousel-item {
    flex: 0 0 calc(33.33% - 4vw);
    transition: transform 0.5s ease;
    transform: scale(0.97);
  }
  .carousel-item:hover {
    transform: scale(1);
  }

  .carousel {
    justify-content: center;
  }

  /* formulaire */
  .contact {
    max-width: 100%;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
    align-items: stretch;
  }
  .carte {
    margin: 0;
  }

  .information {
    grid-column: 1;
    grid-row: 1;
    justify-content: space-evenly;
  }
  .formReserv {
    grid-column: 2 / 4;
    grid-row: 1;
  }
  .carte {
    grid-column: 1/3;
    grid-row: 2;
  }
  .information.place {
    grid-column: 3;
    grid-row: 2;
  }
  #contact .formReserv-containt {
    max-width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
    align-items: stretch;
  }
  .contact button {
    width: 60vh;
  }
  form#contact {
    display: flex;
    flex-direction: column;
  }

  /* footer */
  .footer-containt {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  .footer-containt p {
    max-width: 390px;
  }

  .footer-links {
    padding-top: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: auto;
  }
}
